---
apiVersion: v1
kind: Service
metadata:
  name: shell
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: gargantua-shell
  ports:
    - name: http
      port: 80
    - name: https
      port: 443
      targetPort: 80
