apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ $.Release.Namespace }}
  name: admin-config
data:
  {{ if $.Values.admin.config -}}
  config.json: |
    {
        "title": {{ $.Values.admin.config.title | quote }},
        "favicon": {{ $.Values.admin.config.favicon | quote }},
        "login": {
            "logo": {{ $.Values.admin.config.login.logo | quote }},
            "background": {{ $.Values.admin.config.login.background | quote }}
        },
        "logo": {{ $.Values.admin.config.logo | quote }}
    }
  {{- end }}