apiVersion: v1
kind: Service
metadata:
  name: setting-service
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    component: setting-service
  ports:
  - name: http
    protocol: TCP
    port: {{ .Values.setting.apiPort }}