apiVersion: v1
kind: Service
metadata:
  name: rbac-service
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    component: rbac-service
  ports:
  - name: http
    protocol: TCP
    port: {{ .Values.rbac.apiPort }}