apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-ui
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      component: admin-ui
  template:
    metadata:
      labels:
        component: admin-ui
    spec:
      containers:
        - name: admin-ui
          image: {{ $.Values.admin.image }}
          env:
            - name: HF_SERVER
              value: {{ $.Values.ingress.hostnames.backend | default (print "gargantua." $.Release.Namespace) | quote }}
